* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(85, 166, 42);
  background: linear-gradient(0deg, rgba(85, 166, 42, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.App {
  display: flex;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: block;
  width: 100px;
  height: 100px;
}