* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(85, 166, 42);
  background: linear-gradient(0deg, rgba(85, 166, 42, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.App {
  display: flex;
  padding: 150px 15px 0 15px;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: block;
  width: 100px;
  height: 100px;
}
@media(max-width:860px){
  .arrows {
    transform: rotate(90deg);
    margin: 10px 0;
  }
  .App{
    height: 100%;
    flex-direction: column;
  }
  
}